node_modules/**/*
build
ios/Keyframes.xcodeproj/xcuserdata/**/*
ios/Keyframes.xcodeproj/project.xcworkspace/**/*
.idea
.gradle/
gradlew
gradlew.bat
gradle/
*.properties
*.iml
npm-debug.log
ios/*.xcworkspace/
ios/Pods/**
.DS_Store
examples/Basic/ios/Basic.xcworkspace/
examples/Basic/ios/Podfile.lock
examples/Basic/ios/Pods/
node_modules/
.vscode/
